/*-------------------------- Navbar Start --------------------------*/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*header*/
.header {
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.header-main {
  background-color: #f5fafe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-radius: 4px;
}
.header .logo {
  padding: 0 1px;
}
.header .logo a {
  font-size: 30px;
  text-transform: capitalize;
  color: #4080ef;
  font-weight: 600;
}
.header .nav-menu {
  padding: 0 15px;
}
.header .menu > .menu-item {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}
.logo img {
  width: 80px;
}
.header .menu > .menu-item > a {
  display: block;
  padding: 12px 0;
  margin: 5px;
  font-size: 15px;
  color: #333333;
  text-transform: capitalize;
  font-weight: 550;
  transition: all 0.3s ease;
}

@media (max-width: 1025px) {
  .header .menu > .menu-item > a {
    display: block;
    padding: 12px 0;
    margin: 0px;
    font-size: 14px;
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease;
  }
}

.header .menu > .menu-item > a .FaChevronDown {
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  margin-left: 5px;
  pointer-events: none;
}
.header .menu > .menu-item > a .FaChevronDown:before,
.header .menu > .menu-item > a .FaChevronDown:after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  background-color: #000000;
  height: 2px;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .FaChevronDown:before,
.header .menu > .menu-item:hover > a .FaChevronDown:after {
  background-color: #483d8b;
}
.header .menu > .menu-item > a .FaChevronDown:after {
  transform: translate(-50%, -50%) rotate(180deg);
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a {
  color: #483d8b;
}
.header .menu > .menu-item > .sub-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  padding: 10px 0;
  border-top: 3px solid #483d8b;
  transform: translateY(10px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 992px) {
  .header .menu > .menu-item-has-children:hover > .sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .header
    .menu
    > .menu-item-has-children:hover
    > a
    .FaChevronDown:after {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
.header .menu > .menu-item > .sub-menu > .menu-item {
  display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a {
  display: block;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
.header .open-nav-menu {
  height: 34px;
  width: 40px;
  margin-right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .open-nav-menu span {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #000000;
  position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  box-sizing: border-box;
}
.header .open-nav-menu span:before {
  top: -7px;
}
.header .open-nav-menu span:after {
  top: 7px;
}
.header .close-nav-menu {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 0 15px 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}
.header .close-nav-menu img {
  width: 16px;
}
.header .menu-overlay {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

/*home section*/
.home-section {
  width: 100%;
  display: block;
  min-height: 100vh;
  background-position: center top;
  background-size: cover;
}

/* responsive */

@media (max-width: 991px) {
  .header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .header .nav-menu {
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    background-color: #222222;
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }
  .header .nav-menu.open {
    visibility: visible;
    right: 0px;
  }
  .header .menu > .menu-item {
    display: block;
    margin: 0;
  }
  .header .menu > .menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu > .menu-item > a {
    color: #ffffff;
    padding: 12px 15px;
    border-bottom: 1px solid #333333;
  }
  .header .menu > .menu-item:first-child > a {
    border-top: 1px solid #333333;
  }
  .header .menu > .menu-item > a .FaChevronDown:before,
  .header .menu > .menu-item > a .FaChevronDown:after {
    background-color: #ffffff;
  }
  .header
    .menu
    > .menu-item-has-children.active
    > a
    .FaChevronDown:after {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  .header .menu > .menu-item > .sub-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }
  .header .menu > .menu-item > .sub-menu > .menu-item > a {
    padding: 12px 45px;
    color: #ffffff;
    border-bottom: 1px solid #333333;
  }
  .header .close-nav-menu,
  .header .open-nav-menu {
    display: flex;
  }
}

/*-------------------------- Navbar End --------------------------*/

/* ------------------------- About start ------------------------ */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5fafe;
}

.hero-section .btn {
  background-color: #ffd700;
  border-color: #483d8b;
}

.hero-section .btn:hover {
  box-shadow: 7px 7px #483d8b;
  transition: 0.3s;
}

@media (max-width: 1440px) {
  .hero-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.hero-section .hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-section .hero-content a {
  margin-top: 1.2rem;
  color: #000;
}

.hero-section .hero-content p {
  text-align: justify;
  font-size: 1.1rem;
  margin-top: 1.2rem;
}

@media (max-width: 768px) {
  .hero-section .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-section .hero-content p {
    font-size: 1rem;
  }
}

@media (max-width: 426px) {
  .hero-section .hero-image img {
    width: 250px !important;
    height: auto;
    margin: 2rem 0;
  }
  .hero-section {
    min-height: 70vh;
  }
  .btn-primary {
    justify-content: center;
    align-items: center;
  }
}

/* ------------------------- About end ------------------------ */

/* ------------------------- Category start ------------------------ */
.expert-team {
  background-color: #f5fafe;
  background: #f5fafe;
  padding-top: -6rem;
  padding-bottom: 10rem;
}
.pem h1 {
  /* font-size: 50px; */
  margin-bottom: 5rem;
  font-weight: bold;
}
.col {
  background-color: #ffffff;
  padding: 1rem 1rem 1rem 1rem;
  transition: all 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.col:hover {
  cursor: pointer;
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.col img {
  max-width: 100%;
}
.modal-img {
  width: 100%;
}

.col h5 {
  font-weight: bold;
}
.expert-team .pem .garis-bawah::after {
  position: absolute;
  content: '';
  background: #333333;
  height: 4px;
  width: 180px;
  margin-top: -4rem;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 991px) {
  .col {
    width: 75%;
  }
  .col img {
    max-width: 75%;
  }
  .modal-img {
    width: 75%;
  }
  .expert-team {
    margin-top: -2rem;
  }
  .pem h1 {
    font-size: 2rem;
  }
}
/* ------------------------- Category end ------------------------ */

/* ------------------------- Objective end ------------------------ */
.her {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  background-color: #f5fafe;
  background: #f5fafe;
  margin-top: -10rem;
}

.her .btn:hover {
  box-shadow: 8px 8px #99bdff;
  transition: 0.3s;
}
.her h4 {
  font-weight: bold;
}
.her .container .row .garis-bawah::after {
  position: absolute;
  content: '';
  background: #333333;
  height: 4px;
  width: 60px;
  left: 53.5%;
  transform: translateX(-50%);
}

@media (max-width: 1440px) {
  .her {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.her .hero-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.her .halo {
  margin-top: 1.5rem;
  font-weight: bold;
}

.her a {
  margin-top: 1.2rem;
}

.her p {
  text-align: justify;
  font-size: 1.3rem;
  margin-top: 1.2rem;
}
.her .hero-image img {
  width: 700px;
  height: 400px;
  margin-top: 2rem;
}

@media (max-width: 991px) {
  .her .hero-content h1 {
    font-size: 2rem;
  }

  .her .hero-content p {
    font-size: 1rem;
  }

  .her .hero-image img {
    width: 350px !important;
    height: 300px;
    margin-top: 2rem;
  }
  h4 {
    text-align: left;
  }
  .her .container .row {
    margin-top: -4rem;
  }
  .her .container .row h1 {
    font-size: 2rem;
  }
  .her .container .row .garis-bawah::after {
    position: absolute;
    content: '';
    background: #333333;
    height: 4px;
    width: 100px;
    left: 22%;
    transform: translateX(-50%);
  }
}
/* ------------------------- Objective end ------------------------ */

/* ------------------------- Organized start ------------------------ */
.event_sponser_area {
  background: #f5fafe;
  background-color: #f5fafe;
}

.event_sponser_area .Organized-by .organized-image .image-iysa {
  max-width: 350px;
}
.event_sponser_area .Organized-by .organized-image .image-udayana {
  max-width: 250px;
}

.event_sponser_area h4 {
  font-weight: bold;
  font-size: 35px;
}

@media (max-width: 991px) {
  .event_sponser_area h4 {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
  }
}
/* ------------------------- Organized end ------------------------ */

/* ------------------------- faq start ------------------------ */
#FAQ .faq h2 {
  margin-bottom: 100px;
  font-weight: bold;
}

.faq-section .faq h2 {
  font-weight: bold;
}
.faq-section {
  background: #f5fafe;
  min-height: 100vh;
  padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
}
.faq-title h2::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #333333;
  bottom: -25px;
  margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #cee1f8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: rgba(149, 120, 221, 0.1);
  padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3b566e;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  /* float: left; */
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #333333;
  color: #ffffff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6f8ba4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #f3f8ff;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
  .faq-section {
    margin-bottom: -3rem;
    /* margin-top: 1rem; */
  }
}
/* ------------------------- faq end ------------------------ */

/* ------------------------- contact start ------------------------ */
.contact {
  width: 100%;
  /* min-width: 100vh; */
  background-color: #f5fafe;
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact-box .box {
  text-align: center;
  padding-bottom: 50px;
}
.contact .contact-box .box h1 {
  font-weight: 800;
  color: #000000;
  margin-bottom: 10px;
}

.contact .contact-box .form-contact form table {
  margin-inline: auto;
}

.contact .contact-box .form-contact form table tr td input,
.contact .contact-box .form-contact form table tr td textarea {
  padding: 20px;
  font-size: 16px;
  color: #000000;
  border: none;
  background-color: #d3d3d3;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 100%;
}

.contact .contact-box .form-contact form table tr td input:focus,
.contact .contact-box .form-contact form table tr td textarea:focus {
  background-color: #d3d3d3;
}

.contact
  .contact-box
  .form-contact
  form
  table
  tr:nth-child(1)
  td:nth-child(1) {
  padding-right: 5px;
}
.contact
  .contact-box
  .form-contact
  form
  table
  tr:nth-child(1)
  td:nth-child(2) {
  padding-left: 5px;
}

.contact .contact-box .form-contact form table tr td button {
  width: 100%;
  height: 60px;
  font-size: 16px;
  background-color: #483d8b;
  font-weight: bold;
  cursor: pointer;
}
.contact .contact-box .form-contact form table tr td button:hover {
  transform: scale(1.05);
  /* box-shadow: 0 8px 16px rgba(253, 251, 251, 0.229); */
  background-image: linear-gradient(
    to right,
    #483d8b,
    #483d8b,
    #483d8b,
    #ffd700
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

@media (max-width: 991px) {
  .contact .contact-box .box p form table tr td input {
    font-size: 14px;
    width: 90%;
  }
}
@media (max-width: 991px) {
  .contact .contact-box .box p form table tr td textarea {
    font-size: 12px;
  }
}
/* ------------------------- contact end ------------------------ */

/*-------------------------- Footer Start --------------------------*/

footer {
  width: 100%;
  bottom: 0;
  background: #111;
  color: #fff;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

.rata-kirkan {
  text-align: justify;
}

.rowFooter {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.colFooter {
  flex-basis: 25%;
  padding: 10px;
}

.colFooter:nth-child(2),
.colFooter:nth-child(3) {
  flex-basis: 15%;
}

.logoFooter {
  width: 150px;
  margin-bottom: 30px;
}

.colFooter h3 {
  margin-bottom: 40px;
  position: relative;
}

.office {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .logoNewsletter {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.colFooter input[type='email'],
.colFooter input[type='email']::placeholder {
  color: #fff;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .logoButtonNewsletter {
  font-size: 16px;
  color: #ccc;
}

.social-icons .footer-social-icons-fb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  padding: 5px;
}
.social-icons .footer-social-icons-ig {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  padding: 5px;
}
.social-icons .footer-social-icons-yt {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  padding: 5px;
}
.social-icons .footer-social-icons-tt {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  padding: 5px;
}
.social-icons .footer-social-icons-ld {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  padding: 5px;
}
.social-icons .footer-social-icons-fb:hover {
  background-color: rgb(59, 89, 152);
  color: #fff;
}
.social-icons .footer-social-icons-ig:hover {
  background-color: rgb(195, 42, 163);
  color: #fff;
}
.social-icons .footer-social-icons-yt:hover {
  background-color: rgb(255, 0, 0);
  color: #fff;
}
.social-icons .footer-social-icons-tt:hover {
  background: #000000;
  color: #fff;
}
.social-icons .footer-social-icons-ld:hover {
  background-color: rgb(0, 119, 181);
  color: #fff;
}

hr {
  width: 86%;
  border: 0;
  border-bottom: 1px solid #ccc;
}

.copyright {
  text-align: center;
}

.underline {
  width: 50%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 50px;
  left: 0px;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }

  .colFooter {
    flex-basis: 100%;
  }

  .colFooter:nth-child(2),
  .colFooter:nth-child(3) {
    flex-basis: 100%;
  }
}

/*-------------------------- Footer End --------------------------*/
/* ------------------------- Footer end ------------------------ */
